{%- capture address_query -%}{{ include.street | replace: ' ', '+' }},{{ include.city | replace: ' ', '+' }}+{{ include.zip }}{%- endcapture -%}
<div class="address">
  <a href="https://maps.google.com/maps?q={{ address_query }}"
     target="_blank"
     class="address-link"
     onclick="if(/iPhone|iPad|iPod|Macintosh/.test(navigator.userAgent)) { this.href='maps://maps.apple.com/?q={{ address_query }}'; }">
    <p>{{ include.street }}</p>
    <p>{{ include.city }}</p>
    <p>{{ include.zip }}</p>
  </a>
</div>